<div class="defra-hero">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Defra AI Content Audit</h1>
      </div>
    </div>
  </div>
</div>
