.app-sortable-table {
  th[data-sortable] {
    padding: 0;
  }
}

.app-sortable-table__button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: inherit;
  cursor: pointer;
  text-decoration: underline;

  &::after {
    content: ' \2195';
    color: #505a5f;
    margin-left: 4px;
  }

  &:hover {
    color: #1d70b8;
  }

  &:focus {
    outline: 3px solid transparent;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    color: #0b0c0c;
    text-decoration: none;
  }
}

[aria-sort='ascending'] .app-sortable-table__button::after {
  content: ' \25B2';
  color: #0b0c0c;
}

[aria-sort='descending'] .app-sortable-table__button::after {
  content: ' \25BC';
  color: #0b0c0c;
}
